{% set ctPayment = oView.computopGetPaymentModel() %}
{% set fatchipComputopConfig = ctPayment.getAmazonPayFrontendConfig() %}

{% set sToken = oViewConf.getSessionChallengeToken() %}

<div class="amazonpay-button {{ buttonclass }} nonexpress" id="{{ buttonId }}"></div>
<script src="https://static-eu.payments-amazon.com/checkout.js"></script>
{% capture assign = "fatchip_computop_amazonpay_script_amazonbutton" %}
    {% if false %}<script>{% endif %}
    if (typeof {{ buttonId }}_is_rendered === "undefined" || {{ buttonId }}_is_rendered !== true) {
        var fatchipComputopAmazonPayButton = amazon.Pay.renderButton('#{{ buttonId }}', {
            merchantId: '{{ fatchipComputopConfig.amazonpayMerchantId }}',
            publicKeyId : '{{ fatchipComputopConfig.amazonpayPubKeyId }}',
            ledgerCurrency: '{{ oViewConf.getLedgerCurrency() }}',
            checkoutLanguage: '{{ oViewConf.getCheckoutLanguage() }}',
            productType: 'PayAndShip',
            placement: 'Checkout',
            buttonColor: '{{ fatchipComputopConfig.amazonButtonColor }}',
            payloadJSON: '{{ fatchipComputopConfig.amazonPayload|raw }}',
            estimatedOrderAmount: { "amount": "{{ oxcmp_basket.getPrice().getBruttoPrice() }}", "currencyCode": "EUR"}
    });
    FatchipComputopAmazonPayButtonComponent.init(fatchipComputopAmazonPayButton, {{ fatchipComputopConfig.amazonPayload|raw }}, '{{ fatchipComputopConfig.amazonSignature|raw }}','{{ fatchipComputopConfig.amazonpayPubKeyId|raw }}');
    {{ buttonId }}_is_rendered = true;
    }
{% endcapture %}
{{ script({ add: fatchip_computop_amazonpay_script_amazonbutton, dynamic: __oxid_include_dynamic }) }}
