{% set aPaypalConfig = oViewConf.getPayPalExpressConfig() %}
{% set sCurrency = oViewConf.getLedgerCurrency() %}
{% set sMerchantId = aPaypalConfig.computop.merchantId %}
<div class="paypal_button {{ buttonclass }} nonexpress" id="{{ buttonId }}"></div>
<script type="text/javascript" src="https://www.paypal.com/sdk/js?client-id={{ aPaypalConfig.paypal.clientId }}&merchant-id={{ aPaypalConfig.paypal.merchantId }}&currency={{ sCurrency }}&disable-funding=giropay,sofort,sepa,card&intent={{ aPaypalConfig.paypal.intent }}" data-partner-attribution-id="Computop_PSP_PCP_Test"></script>

{% capture assign = "fatchip_computop_script_paypalbutton" %}
    if (typeof {{ buttonId }}_is_rendered === "undefined" || {{ buttonId }}_is_rendered !== true) {
        var {{ buttonId }}_is_rendered;
        let active = {{ aPaypalConfig.paypal.active }};
        let mid = "{{sMerchantId }}";
        let payid;

        if (active) {
            paypal.Buttons({
                createOrder: function (data, actions) {
                    return fetch('{{ aPaypalConfig.computop.actions.urls.createOrder | raw }}').then(function(res){
                        return res.text();
                    }).then(function (orderData) {
                        console.log("createOrder: " + orderData);
                        let qData = new URLSearchParams(orderData);
                        payid = qData.get('PayID');
                        return qData.get('orderid');
                    });
                },
                onApprove: async function (data, actions) {
                    var rd = "MerchantId=" + mid + "&PayId=" + payid + "&OrderId=" + data.orderID;
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = 'https://www.computop-paygate.com/cbPayPal.aspx?rd=' + window.btoa(rd);
                    form.style.display = 'none';
                    document.body.appendChild(form);
                    form.submit();
                    /**
                    let onApproveParams = new URLSearchParams([
                            ['merchantId',mid],
                            ['payId',payid],
                            ['orderId',data.orderID]
                    ]);

                    await fetch("{{ aPaypalConfig.computop.actions.urls.onApprove | raw }}&" + onApproveParams.toString());
                    **/
                },
                onCancel: function (data, actions) {
                    console.log("onCancel: " + data);
                    var rd = "MerchantId=" + mid + "&PayId=" + payid + "&OrderId=" + data.orderID;
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = "https://www.computop-paygate.com/cbPayPal.aspx?rd=" + window.btoa(rd) + "&ua=cancel&token=" + data.orderID;
                    form.style.display = 'none';
                    document.body.appendChild(form);
                    //form.submit();
                },
                onError: function (data, actions) {
                    console.log("onError: " + data);
                    var rd = "MerchantId=" + mid + "&PayId=" + payid + "&OrderId=" + data.orderID;
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = "https://www.computop-paygate.com/cbPayPal.aspx?rd=" + window.btoa(rd) + "&ua=cancel&token=" + data.orderID;
                    form.style.display = 'none';
                    document.body.appendChild(form);
                    //form.submit();
                }
             }).render('#{{ buttonId }}'); // Adjusted to render in the correct container
        }
        {{ buttonId }}_is_rendered = true;
    }
{% endcapture %}
{{ script({ add: fatchip_computop_script_paypalbutton, dynamic: __oxid_include_dynamic }) }}
