{% set paypalParams = oViewConf.getPayPalExpressParams() %}
{% set merchantId = paypalParams.MerchantID %}
{% set len = paypalParams.Len %}
{% set data = paypalParams.Data %}
{% set paypalConfig = oViewConf.getPayPalExpressConfig() %}

<div class="paypal_button {{ buttonclass }} nonexpress" id="{{ buttonId }}"></div>
<script type="text/javascript" src="https://www.paypal.com/sdk/js?client-id={{ paypalConfig.clientId }}&merchant-id={{ paypalConfig.merchantId }}&currency=EUR&disable-funding=giropay,sofort,sepa,card&intent=capture" data-partner-attribution-id="Computop_PSP_PCP_Test"></script>

{% capture assign = "fatchip_computop_script_paypalbutton" %}
    if (typeof {{ buttonId }}_is_rendered === "undefined" || {{ buttonId }}_is_rendered !== true) {
        var {{ buttonId }}_is_rendered;

        let mid = "{{merchantId }}";
        let len = "{{ len }}";
        let data = "{{ data }}";
        let payid;

        const params = new URLSearchParams({
            MerchantID: mid,
            Len: len,
            Data: data
        });

        if (len !== '' && data !== '') {
            paypal.Buttons({
                createOrder: function (data, actions) {
                    return fetch('{{ seo_url('fatchip_computop_paypalexpress', {'action': 'createOrder'}) }}', {
                    method: 'POST',
                    body: params
                    }).then(function (res) {
                        return res.text();
                    }).then(function (orderData) {
                        let qData = new URLSearchParams(orderData);
                        payid = qData.get('PayID');
                        return qData.get('orderid');
                    });
                },
                onApprove: function (data, actions) {
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '{{ seo_url('fatchip_computop_paypalexpress', {'action': 'onApprove'}) }}?rd=' + window.btoa("MerchantId=" + mid + "&PayId=" + payid + "&OrderId=" + data.orderID);
                    form.style.display = 'none';
                    document.body.appendChild(form);
                    form.submit();
                },
                onCancel: function (data, actions) {
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '{{ seo_url('fatchip_computop_paypalexpress', {'action': 'onCancel'}) }}?rd=' + window.btoa("MerchantId=" + mid + "&PayId=" + payid + "&OrderId=" + data.orderID) + "&ua=cancel&token=" + data.orderID;
                    form.style.display = 'none';
                    document.body.appendChild(form);
                    form.submit();
                },
                onError: function (data, actions) {
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '{{ seo_url('fatchip_computop_paypalexpress', {'action': 'onError'}) }}?rd=' + window.btoa("MerchantId=" + mid + "&PayId=" + payid + "&OrderId=" + data.orderID) + "&ua=cancel&token=" + data.orderID;
                    form.style.display = 'none';
                    document.body.appendChild(form);
                    form.submit();
                }
             }).render('#{{ buttonId }}'); // Adjusted to render in the correct container
        }
        {{ buttonId }}_is_rendered = true;
    }
{% endcapture %}
{{ script({ add: fatchip_computop_script_paypalbutton, dynamic: __oxid_include_dynamic }) }}
