{% include "headitem.html.twig" with {title: "fatchip_computop"} %}
{% set sModuleId = '@' ~ constant('\\Fatchip\\ComputopPayments\\Core\\Constants::MODULE_ID') %}

<div id="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ translate({ ident: "FATCHIP_COMPUTOP_PAYMENT" }) }}</h1>

            <div class="alert alert-{% if Errors.fatchip_computop_error %}danger{% else %}success{% endif %} mb-3" role="alert">
                {% if Errors.fatchip_computop_error %}
                    {{ translate({ ident: "FATCHIP_COMPUTOP_ERR_CONF_INVALID" }) }}:
                    <ul class="list-unstyled">
                        {% for key, oEr in Errors.fatchip_computop_error %}
                            <li>{{ oEr.getOxMessage()|raw }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ translate({ ident: "FATCHIP_COMPUTOP_CONF_VALID" }) }}
                {% endif %}
            </div>
            {% if oView.getIdealUpdateSuccess() is null %}
                {# No action when getIdealUpdateSuccess() is null (initial state) #}
            {% else %}
                <div class="alert alert-{{ oView.getIdealUpdateSuccess() ? 'success' : 'danger' }} mb-3" role="alert">
                    {{ translate({ ident: oView.getIdealUpdateSuccess() ? "FATCHIP_COMPUTOP_IDEAL_ISSUERS" : "FATCHIP_COMPUTOP_IDEAL_ISSUERS_ERROR" }) }}
                </div>
            {% endif %}
        </div>
    </div>

    <form action="{{ oViewConf.getSelfLink()|raw }}" method="post" class="panel-group" id="accordion">
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
        <input type="hidden" name="fnc" value="save">

        {# General Settings #}
        {% include sModuleId ~ "/admin/accordion_section.html.twig" with {
            'headingId': 'headingGeneral',
            'collapseId': 'collapseGeneral',
            'title': translate({ ident: "FATCHIP_COMPUTOP_GENERAL_SETTINGS" }),
            'formFields': generalFormFields,
            'currentBlock': 'general',
            'expanded': false
        } %}

        {# Credit Card Settings #}
        {% include sModuleId ~ "/admin/accordion_section.html.twig" with {
            'headingId': 'headingCreditCard',
            'collapseId': 'collapseCreditCard',
            'title': translate({ ident: "FATCHIP_COMPUTOP_CREDIT_CARD_SETTINGS" }),
            'formFields': creditCardFormFields,
            'currentBlock': 'creditcard'
        } %}

        {# iDEAL Settings #}
        {% include sModuleId ~ "/admin/accordion_section.html.twig" with {
            'headingId': 'headingIdeal',
            'collapseId': 'collapseIdeal',
            'title': translate({ ident: "FATCHIP_COMPUTOP_IDEAL_SETTINGS" }),
            'formFields': idealFormFields,
            'currentBlock': 'ideal'
        } %}

        {# PayPal Settings #}
        {% include sModuleId ~ "/admin/accordion_section.html.twig" with {
            'headingId': 'headingPayPal',
            'collapseId': 'collapsePayPal',
            'title': translate({ ident: "FATCHIP_COMPUTOP_PAYPAL_SETTINGS" }),
            'formFields': payPalFormFields,
            'currentBlock': 'paypal'
        } %}

        {# Direct Debit (Lastschrift) Settings #}
        {% include sModuleId ~ "/admin/accordion_section.html.twig" with {
            'headingId': 'headingLastschrift',
            'collapseId': 'collapseLastschrift',
            'title': translate({ ident: "FATCHIP_COMPUTOP_DIRECT_DEBIT_SETTINGS" }),
            'formFields': lastschriftFormFields,
            'currentBlock': 'lastschrift'
        } %}

        {# Amazon Settings #}
        {% include sModuleId ~ "/admin/accordion_section.html.twig" with {
            'headingId': 'headingAmazon',
            'collapseId': 'collapseAmazon',
            'title': translate({ ident: "FATCHIP_COMPUTOP_AMAZON_SETTINGS" }),
            'formFields': amazonFormFields,
            'currentBlock': 'amazon'
        } %}

        {# Klarna Settings #}
        {% include sModuleId ~ "/admin/accordion_section.html.twig" with {
            'headingId': 'headingKlarna',
            'collapseId': 'collapseKlarna',
            'title': translate({ ident: "FATCHIP_COMPUTOP_KLARNA_SETTINGS" }),
            'formFields': klarnaFormFields,
            'currentBlock': 'klarna'
        } %}

        <div class="form-group row mt-3">
            <div class="col-md-12 text-center">
                <button type="submit" name="saveButton" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </form>
</div>
{% include "bottomitem.html.twig" %}
